:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

h2 {
  font-size: clamp(3rem, 10vw, 4rem);
  font-weight: 900;
  color: var(--heading-color);
}

h3 {
  margin: 0%;
  padding: 0%;
  font-size: clamp(2rem, 8vw, 4rem);
}

p {
  color: var(--paragraph-color);
  font-size: 22px;
  margin-block: 10px;
}

html {
  --primary-color: #2079fe;
  --paragraph-color: #a8aeb2;
  --heading-color: #f9fbfe;
}
